<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @name_creator %>, vous avez un nouveau participant: </h1>
    <h2> -<%= @name_attendee %></h2>
    <p>
  </body>
</html>
